body {

}

.fluxElementDark1 {
    background-color: rgba(0,0,0,0.75);
}

.fluxElementDark2 {
    background-color: rgba(0,0,0,0.15);
}

.magicJumbotron {
  background-image: url("../img/backgrounds/wallpaper4.png");
  background-size: cover;
}

.magicJumbotronLeft {
  background-image: url("../img/backgrounds/wallpaper2.jpg");
  background-size: cover;
}

.magicJumbotronRight {
  background-image: url("../img/backgrounds/wallpaper3.jpg");
  background-size: cover;
}

.emberWallpaper {
    background: url('../img/backgrounds/wallpaper_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.emberGradient {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(185,0,0,1) 100%);
}

.carousel-item {
  height: 90vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* 0,0,0,0 - top left, top right, bottom right, bottom left */

.rcTopLeft      {border-radius: 10px  0px  0px  0px;}
.rcTopRight     {border-radius:  0px 10px  0px  0px;}
.rcBottomLeft   {border-radius:  0px  0px  0px 10px;}
.rcBottomRight  {border-radius: 10px  0px 10px  0px;}

.rcTop          {border-radius: 10px 10px  0px  0px;}
.rcBottom       {border-radius:  0px  0px 10px 10px;}

.rcLeft         {border-radius: 10px  0px  0px 10px;}
.rcRight        {border-radius:  0px 10px 10px  0px;}

.rcAll          {border-radius: 10px 10px 10px 10px;}
.rcNone         {border-radius:  0px  0px  0px  0px;}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.headerbg {
  background-image: url('../img/carousel/image1.png');
  background-size: cover;
}

.emberBackground {
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(144, 0, 0)); /* Standard syntax (must be last) */
}

.emberGlassCard {
    background-color: rgba(0,0,0,0.65);
}

.dappCard { 
    border: 2px solid transparent; /* <- here */
    transition: border 0.5s;
    text-decoration: none; /* I added this for clarity of effect */
}

.dappCard:hover {
    border: 2px solid #fff;
}